* {
	box-sizing: border-box;
	font-family: "SaintGeorge";
}
body {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	background: black;
	background: radial-gradient(#3a3a3a, #000);
}
.container {
	display: flex;
	justify-content: space-between;	
	width: 900px;
	padding-bottom: 20px;
}
.white-container {
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
		padding-bottom: 2px;
	
}
.black-container {
	display: flex;
	justify-content: flex-start;
	position: absolute;
	left: 40%;
	bottom: 22px;
	transform: translateX(-50%);

}

.white-btn {
	background-color: white;
	width: 30px;
	height: 50px;
	border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    box-shadow: 2px 2px #a0a0a0;
    margin: 0 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 4px;
}
.black-btn:first-child {
	margin-left: 25px;
}
.black-btn:nth-child(2) {
	margin-left: 20px;
}
.black-btn:nth-child(3) {
	margin-left: 60px;
}
.black-btn:nth-child(4) {
	margin-left: 21px;
}
.black-btn:last-child{
	margin-left: 18px;
}
.section-buttons {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.black-btn {
	background: black;
    width: 20px;
    height: 30px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 4px;
 
   
}
.black-btn1 {
	left: 35px;
}
.black-btn2 {
	left: 95px;
}
.black-btn3 {
	left: 225px;

}
.black-btn4 {
	left: 290px;
}
.black-btn5 {
	left: 355px;
}
.black-btn6 {
	left: 485px;
}
.black-btn7 {
	left: 550px;
}
.black-btn8 {
	left: 680px;
}
.black-btn9 {
	left: 745px;
}
.black-btn10 {
	left: 810px;
}
.black-btn.-active {
	background-color: gray;
}
.white-btn.-active {
	background-color: #fcffd8;
	transition: 0.1s;
	box-shadow: 0px 0px #000;
}
.button-js {
	width: 30px;
	height: 100px;
}




h1 {
	font-family: "SaintGeorge";
	font-size: 92px;
	color: #e23f3f;
	margin-left: 360px;
	margin-top: 90px;
}

.floor-container {
	height: 300px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	width: 100vw;
}

.right-floor.-active{
	transform: translateX(40%);
	transition: 2s;
}
.left-floor.-active {
	transform: translateX(-40%);
	transition: 2s;
}
@font-face {
	font-family: "SaintGeorge";
	src: url('../fonts/SaintGeorge-LowercaseStencil.otf');
}
.btn {
	width: 200px;
	height: 40px;
	background-color: white;
	border: 2px solid black;
	border-radius: 7px;
	text-decoration: none;
	outline: none;
	color: black;
	font-family: "SaintGeorge";
	position: absolute;
	padding: 10px; 
	left: 50%;
	top: 80%;
	transform: translate(-50%);
	text-align: center;
	z-index: 920347923;
}
a {
	outline: none;
}
.leaf1 {
	position: absolute;
	right: 0;
}
.leaf3 {
	top: 55%;
	left: 0;
	position: absolute;
	z-index: 2340234;
}
.leaf2 {
	position: absolute;
	top: 10%;
}
.leaf1.-active {
	transform: translateX(100%);
	
	transition: 1.5s;
}
.leaf2.-active {
	transform: translateX(-100%);

	transition: 1.5s;
}
.leaf3.-active {
	transform: translateX(-100%);

	transition: 1.5s;
}

.btn.-active {
	top: 120%;
	transition: 2s;

}

.floor.left-floor {
	width: 50%;
	background-position: right;
	height: 300px;
}

.floor.right-floor {
	width: 50%;
	background-position: left;
	height: 300px;
}


.lo {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 50%);
	bottom: -20%;


}
.pianino-move {
	position: absolute;
	bottom: -100%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 5s;
}
.pianino-move.-active {
	bottom: 40%;
	transform: translate(-50%, -50%);


	
}